* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
h1, h2, h3, h4 {
  padding-bottom: 0.5em;
}
h3, h4 {
  font-weight: 600;
}
p {
  padding: 0.25em 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
