//viewport sizes
$med-screen: 45em;

//color variables
$overlay: #f8f6f6;

$bgdcolor1: #a4a563;

$faded-bgdcolor1: rgba($bgdcolor1, 0.2);

$garage-cardcolor: #006600;

$text-colorlight: white;
$text-colordark: black;
$text-coloractive: red;
