//viewport sizes
$med-screen: 45em;

//color variables
$overlaybase: #f8f6f6;
$overlay: rgba($overlaybase, 0.7);

$navborder-color: #808080;

$bgdcolor1: #a4a563;

$faded-bgdcolor1: rgba($bgdcolor1, 0.2);

$garage-cardcolor: #006600;

$text-colorlight: white;
$text-colordark: black;
$text-coloractive: red;

$form-border: gray;
$form-border-active: blue;
