//viewport sizes
$med-screen: 45em;

//color variables
$overlay: rgba(248, 246, 246, 0.7);
$navborder-color: #808080;

$text-light: white;
$text-dark: black;
$text-active: green;

$bgd-color1: rgba(164, 165, 99, 0.2);

$item-color1: #006600;


