.hero {
  background-image: url("../../img/canyon.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  @media screen and (min-width: $med-screen){
    background-image: url("../../img/canyon-full.jpg");
    background-size: cover;
  }
}

h1, h2 {
  font-family: "Journal", Helvetica, sans-serif;
}
p,
a,
label,
h3,
h4 {
  font-family: "Quicksand", Helvetica, sans-serif;
}
.hero h1{
  font-size: 5em;
  //line-height: 1.5em;
  padding-top: 3em;
  @media screen and (min-width: $med-screen){
    font-size: 8em;
   // line-height: 2em;
  }
}
.textbox p {
  line-height: 1.5em;
}
a.menu-link.active,
nav a.active {
  color: red;
}
#section2, #section4 {
  background-color: $shaded-color1;
}

// garage door
.img-box .caption {
  background-color: $door-color;
  color: $text-color;
}
.img-box:before {
  background: $shaded;//rgba(255, 255, 255, 0.75);
  color: black;
}
