.hero {
  background: url("../../img/canyon-full.jpg") no-repeat center center fixed;
  background-size: cover;
}
h1 {
  font-family: "Rock-salt", Helvetica, sans-serif;
}
p,
a {
  font-family: "Quicksand", Helvetica, sans-serif;
}
.hero h1{
  font-size: 2em;
  line-height: 1.5em;
  padding-top: 7em;
  @media screen and (min-width: $med-screen){
    font-size: 3em;
    line-height: 2em;
  }
}
.textbox p {
  line-height: 1.5em;
}
a.menu-link.active,
nav a.active {
  color: red;
}
#section2, #section4 {
  background-color: $shaded-color1;
}
