//general text styling
h1, h2 {
  font-family: "Journal", Helvetica, sans-serif;
}
p,
a,
label,
h3,
h4 {
  font-family: "Quicksand", Helvetica, sans-serif;
  line-height: 1.25em;
}

//styling basic site layout components
.hero {
  background-image: url("../../img/canyon.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  @media screen and (min-width: $sm-screen){
    background-image: url("../../img/canyon-full.jpg");
    background-size: cover;
  }
}
#section2, footer {
  background-color: $bgd-color1;
}
.hero h1{
  font-size: 5em;
  padding-top: 3em;
  @media screen and (min-width: $med-screen){
    font-size: 8em;
  }
}

//navigation theme styles
a.menu-link.active,
nav a.active {
  color: $text-active;
}
a.menu-link {
  background-color: $overlay;
}
  nav[role=navigation] {
  background-color: $overlay;
  }
  nav[role=navigation] ul {
    border-top: 1px solid $navborder-color;
  }
  nav[role=navigation] li a {
    border-bottom: 1px solid $navborder-color;
  }

// garage door
.garage-card .garage-text {
  background-color: $item-color1;
  opacity: 0.8;
  color: $text-light;
}

//fadein card
.fadein-card .fadein-text {
  background-color: $item-color1;
  color: $text-light;
}
//(?)
.garage-card:before,
.fadein-card:before {
  background: $overlay;
  color: $text-dark;
}

