@font-face {
  font-family: 'Quicksand';
  src: url("../../fonts/quicksand/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url("../../fonts/quicksand/Quicksand-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Flux';
  src: url("../../fonts/flux/Flux_Architect_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Flux';
  src: url("../../fonts/flux/Flux_Architect_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Rock-salt';
  src: url("../../fonts/rock-salt/RockSalt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'River-drive';
  src: url("../../fonts/river_drive/River Drive.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Daniel';
  src: url("../../fonts/daniel/daniel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}
@font-face{
  font-family: 'Journal';
  src: url("../../fonts/journal/journal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}
