@font-face {
  font-family: 'Quicksand';
  src: url("../../fonts/quicksand/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url("../../fonts/quicksand/Quicksand-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Journal';
  src: url("../../fonts/journal/journal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
